.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 40%)
}

.student{
  display: grid;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8)
}

.student p{
  margin-top: 10px;
}

.welcome-message{
  font-size: 2.5em;
  background-color:green;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.login-prompt{
  font-size: 2.5em;
  background-color:red;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: aqua;
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: hsl(0, 0%, 40%);
  cursor: pointer;
}